body {
    font-family: sans-serif;
    background-color: #fff1f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-container {
    background-color: #f39e9e;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px; 
  }
  
  h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    margin-right: 50px;
    color: #fdd4f3;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #4a3e4d;
  }
  
  input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 20px;
    border: 1px solid #fbf8f8;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="password"] {
    width: 100%;
    padding: 12px; 
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box; 
  }
  
  
  button[type="submit"] {
    background-color: #ffffff;
    color: rgb(245, 158, 248);
    padding: 10px 15pxx ;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; 
  }
  
  button[type="submit"]:hover {
    background-color: #efa7f4;
  }
  
  
  #loggedInArea {
    margin-top: 50px;
    text-align: center;
  }